.example-enter {
    opacity: 0;
}
.example-enter.example-enter-active {
	opacity: 1;
	/*transition: opacity 1s ease;*/
	transition-property: opacity;
	transition-duration: 1000ms;
	/*transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;*/
}
.example-leave {
	opacity: 1;
  z-index:10;
  left: 0;
  position: absolute !important;
	transform:   scale(1);
  transition-property: scale, opacity;
	transition-duration: 1000ms;
	/*transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;*/
}
.example-leave.example-leave-active {
	opacity: 0;
	transform:   scale(1,0);
}
